<p id="notice"><%= notice %></p>
<p> just testing </p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
